@import "common" ;
.applyFlow{
    .header{
        background: $blue;
        color: #ffffff;
    }
    .stepBox{
    height: 2rem;
    background: $blue;
    padding: 0 0.55rem;
    li{
        width: 1.46rem;
        float: left;
       h1{
          background: #a9d3ff;
          width: 0.9rem;
          height: 0.9rem;
           margin: 0.3rem;
          border-radius: 50%;
          text-align: center;
          line-height: 0.9rem;
          color: $blue;
          font-size: 0.6rem; 
         font-weight: 500;
          &.stepActive{
             background: #ffffff; 
          }
       }
       p{
           text-align: center;
           font-size: 0.24rem;
           color: #FFFFFF;
       }
    }
    span{
        float: left;
       width: 1rem;
       height: 0.05rem;
       background: #a9d3ff; 
       margin-top: 0.76rem;
    }
}
}
.applyInfoCon{
     @include flex_column;
    .applyInfo{
        @include flex_1;
        margin-top: 0.12rem;
       div{
           padding:0 0.55rem;
           height: 1rem;
           line-height: 1rem;
           background: #ffffff;
           color: #333333;
           font-size: 0.28rem;
           @include border_Bot;
           span{
               width: 1.5rem;
               float: left;
           }
           input{
               width: 4.5rem;
               height: 0.8rem;
               margin-top: 0.1rem;
               float: right;
               text-align: right;
               border: 0;
           }
       } 
    }
    
}

.applyLevelCon{
    overflow: auto;
    overflow-x:hidden ;
    @include flex_column;
    
    .rule{
        height:1rem;
        line-height: 1rem;
        margin-left: 0.5rem;
        font-size: 0.2rem;
        position: relative;
        
        a{
            
            margin-left: 0.3rem;
        }
    }
}
    .magic-checkbox {
          position: absolute;
          display: none; 
          }
          
        .magic-checkbox + label {
              position: relative;
              padding-left: 0.6rem;
              cursor: pointer;
              vertical-align: middle; 
              &:after {
                 position: absolute;
                display: none;
                content: '';
                  top: 2px;
                  left: 7px;
                  box-sizing: border-box;
                  width: 0.12rem;
                  height: 0.24rem;
                  transform: rotate(45deg);
                  border-width: 2px;
                  border-style: solid;
                  border-color: #fff;
                  border-top: 0;
                  border-left: 0;
             }
             &:before {
                 position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                width: 0.4rem;
                height: 0.4rem;
                content: '';
                border: 1px solid $blue;
                border-radius: 50%;
             }
            
            }
            
        
        .magic-checkbox:checked + label:after {
            
          display: block; 
          
          }
          
        .magic-checkbox:checked + label:before {
             border-radius: 50%;
            animation-name: none; 
          border: #3e97eb;
          background: #3e97eb; }
          

.applyLevel{
        @include flex_1;
        overflow-x:hidden ;
        overflow-y:scroll ;
        .levelInfo{
            height: 1rem;
            @include border_Bot;
            padding: 0 0.5rem;
            background: #FFFFFF;
            label{
                 line-height: 1rem;
                color: #333333;
                font-size: 0.28rem;
            }
            input{
                height: 0.6rem;
                line-height: 0.6rem;
                margin-top:0.2rem ;
                text-align: right;
                float: right;
                border: 0;
                background: transparent;
                font-size: 0.24rem;
            }
            span{
                float: right;
                color: $blue;
                line-height: 1rem;
                margin-left: 0.1rem;
                font-size: 0.24rem;
            }
        }
        
    }