
@import "common";
.help{
    background: $grey;
    position: relative;
    .askBtn{
      width: 1.6rem;
      height: 0.82rem;
      background: $blue;
      color: #ffffff;
      font-size: 0.3rem;
      text-align: center;
      line-height: 0.82rem;
      position: fixed;
      z-index: 22;
      bottom: 0.7rem;
      right: 0.5rem;
      box-shadow: 0 3px 10px rgba(83,166,255,0.5);
    } 
    .footer{
        background: #fff;
        @include only_display;
        justify-content: space-around;
        div{
            width: 3rem;
        }

    }
    .askCon{background: #fff;}
}

.helpList{
    padding:0.3rem  0.3rem 0;  
        li{
            margin-top: 0.16rem;
            background: #FFFFFF;
            padding-bottom: 0.18rem;       
            font-size: 0.28rem;
            border-bottom: 0.01rem dashed #d9e5ff;
            &>div{
                @include only_display;
                &:first-child{
                    margin-bottom: 0.28rem;
                }
                p{
                    
                    &:first-child{
                        margin-right:0.16rem;
                        @include icon(0.3rem,0.36rem);
                    }
                    &:last-child{
                        @include flex_1;
                    }

                }
                &:first-child{
                    color: $blue;
                }
            }
            img{
                width: 0.2rem;
                height: 0.4rem;
                margin-top: 0.3rem;
                float: right;
            }
        }
        
    }   
.helpDetail{
    .helpDetailTxt{
        margin: 0.5rem;
        h4{
            font-size: 0.28rem;
            color: #333333;
            height: 1rem;
            line-height: 1rem;
            text-align: center;
        }
        p{
            color: #666666;
            font-size: 0.26rem;
            line-height: 0.5rem;
            text-align: justify;
        }
        .solve{
            height: 2rem;
            span{
                margin-top: 0.8rem;
            float: left;
                color: $blue;
                font-size:0.28rem ;
                img{
                    width: 0.64rem;
                    height: 0.64rem;
                    margin-right: 0.2rem;
                    vertical-align: middle;
                }
                &:nth-child(1){
                margin-left: 1.4rem;  
                }
                &:nth-child(2){
                    margin-left: 1rem;  
                }
            }
        }
    }  
} 

.lookques{
   .footer{background: #fff;}
   .helpList{
        li{
            div{
                p{
                    &:first-child{
                        @include icon(0.32rem,0.31rem);
                    }
                   
                }
                &:first-child{
                    
                    color:#2b2b2b;
                    margin-bottom: 0.2rem;
                }
                &:last-child{
                    p{
                        &:last-child{
                            font-size:0.32rem;
                        }
                    }
                }
            } 
        } 
        .answer{
            div:last-child p:last-child{
                font-size: 0.28rem;
            }
        }
   }
   .askCon{background: #fff;}
} 