@import "common";
.help{
    background: $grey;
    
}
.helpList{
        li{
            margin-top: 0.12rem;
            height: 1rem;
            line-height: 1rem;
            background: #FFFFFF;
             padding:0 0.5rem;
            color: $blue;
            font-size: 0.28rem;
            img{
                width: 0.2rem;
                height: 0.4rem;
                margin-top: 0.3rem;
                float: right;
            }
        }
        
    }   
   .helpDetail{
     .helpDetailTxt{
         margin: 0.5rem;
         h4{
             font-size: 0.28rem;
             color: #333333;
             height: 1rem;
             line-height: 1rem;
             text-align: center;
         }
         p{
             color: #666666;
             font-size: 0.26rem;
             line-height: 0.5rem;
             text-align: justify;
         }
         .solve{
             height: 2rem;
             span{
                 margin-top: 0.8rem;
                float: left;
                 color: $blue;
                 font-size:0.28rem ;
                 img{
                     width: 0.64rem;
                     height: 0.64rem;
                     margin-right: 0.2rem;
                     vertical-align: middle;
                 }
                 &:nth-child(1){
                    margin-left: 1.4rem;  
                 }
                 &:nth-child(2){
                      margin-left: 1rem;  
                 }
             }
         }
     }  
   } 