@charset "utf-8";
@import "common" ;
.listDetail{
  background: $grey;  
  .red{
      color:$red;
  }
  .rangeInfo{
      background: #ffffff;
      @include only_display;
      
      li{
          margin: 0.35rem 0;
         @include flex_1; 
         @include border_Right;
         .numBox{
             width: 2.4rem;
             height: 1rem;
             line-height: 1rem;
             margin: 0 auto;
             color: #333333;
             font-size: 0.28rem;
             div{
                 margin-top:0.22rem ;
                 float: right;
                 position: relative;
                 width: 1.6rem;
                 height: 0.55rem;
                 line-height: 0.55rem;
                 border: 1px solid #c5c5c5;
                 border-radius: 0.26rem;
                 input{
                     border: 0;
                     background: transparent;
                    // text-indent: 0.2rem;
                     margin-left: 0.15rem;
                     width: 1rem;
                     color: $blue;
                     text-align: center;
                 }
                 span{
                     position: absolute;
                     right: 0.15rem;
                 }
             }
             
         }
         p{
             text-align: center;
             color: #aaaaaa;
             font-size: 0.22rem;
         }
      }
  }
  .circle{
      background: #ffffff;
     // padding: 0.35rem 0;
      @include clear_float;
      position: relative;
      .totalmoney{
            width: 1.5rem;
            height: 1rem;
            position: absolute;
            top: 42%;
            left: 20%;
            text-align: center;
            color: #666666;
            font-size: 0.2rem;
        p{
            color: #333333;
            font-size: 0.24rem;
        }
      }
      .noClick{
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
      }
      .circlePic{
          width: 50%;
          float: left;
          .rings{
              width:2.14rem ;
              height: 2.14rem;
             position: relative;
               margin-left:1.2rem ;
               p{
                   position: absolute;
                   left: 0;
                   right: 0;
                   top: 0;
                   bottom: 0;
                   margin: auto;
                   color: #333333;
                   font-size: 0.28rem;
                   span{
                       color: #666666;
                       font-size: 0.24rem;
                   }
               } 
          }
          
          
      }
      .circleInfo{
          width: 50%;
          float: left;
         padding-left:0.3rem ;
          li{
              line-height: 0.5rem;
              color: #666666;
                font-size: 0.22rem;
              i{
                width:0.22rem;
                height: 0.22rem;
                border-radius: 50%;
                margin-right: 0.2rem;
                background: aqua;
              }
          }
      }
  }
  .moneyDetailBox{
      background: #ffffff;
      .moneyDetail{
          padding: 0 0.5rem;
      }
      
      .showBtn{
          height: 0.7rem;
          line-height: 0.7rem;
          text-align: center;
          color: #666666;
          font-size: 0.22rem;
          img{
              height:0.15rem;
              margin-left: 0.5rem;
          }
          .toIntroKSD{
            height:0.3rem;
            margin-left: 0.4rem;
            vertical-align: middle;
            }
      }
  }
  
  .flowBox{
       overflow: hidden;
      .flowPic{
          background: #ffffff;
          line-height: 0.48rem;
          padding: 0.2rem 0.5rem 0;
          img{
             // width: ;
          }
      }
      .application{
          background: #ffffff;
          color: #666666;
          font-size: 0.22rem;
          padding: 0.3rem 0.5rem;
          line-height: 0.38rem;
//        li{
//           line-height: 0.44rem; 
//        }
      }
  }
  h2{   
     height: 0.8rem;
     line-height: 0.8rem;
     color: $blue;
     font-size: 0.28rem;
      text-indent: 0.5rem;
      @include border_Bot;
      margin-top: 0.12rem;
      background: #ffffff;
      font-weight: 500;
      border-bottom: 0.02rem solid #eee;
      span{
        @include icon(0.36rem,0.36rem);
          margin-right: 0.2rem;
      }
  }
  .authBox{
      margin-bottom: 0.15rem;
      .authTap{
          background: #FFFFFF;
          li{
              &.activeAuthLi{
                  color: #333333;
                  .authIcon{
                     color: #fa5d5d;
                  }
                  .goAuth{
                      span{
                          background: $blue;
                      }
                  }
                    .meserror{
                        color: $red;
                        margin-left:3px;
                    }
              }
              height: 1rem;
              line-height: 1rem;
              @include border_Bot;
              text-indent: 0.5rem;
              font-size: 0.24rem;
              color: #CCCCCC;
              .authIcon{
                  margin-right: 0.26rem;
                  font-size:0.5rem;
              }
              .goAuth{
                  height: 0.9rem;
                   float: right;
                   margin-right: 0.5rem;
                  span{
                      background: #CCCCCC;
                      color: #FFFFFF;
                      border-radius: 10px;
                      padding: 0.04rem 0.2rem;
                      font-size: 0.22rem;
                  }
                  i{
                      font-size: 0.34rem;
                      margin-left: 0.26rem;
                  }
              }
          }
          
      }
  }
  
  
  
    .applyBtnBox{
        padding:0.4rem 0.48rem;
        //@include only_display;
        .applySaveBtn{
            width:2rem;
            float: left;
            //background: #ffffff;
            img{
                width:0.45rem ;
                height: 0.45rem;
                display: block;
                margin:0.12rem auto 0;
            }
            p{
                text-align: center;
                color: #aaaaaa;   
                font-size: 0.24rem;
            }
        }
        .applyBtn{
            border-radius:0.2rem;
            background:#508aff;;
            color: #ffffff;
            line-height: 0.95rem;
            font-size: 0.28rem;
            text-align: center;
        }
    }
    .content .loan-list{
        background: #fff;
        padding:0.48rem 0.25rem 0;
        margin-bottom:0.3rem;
        li:not(.spe){
            @include only_display;
            padding: 0.4rem 0;
            &>img{
                display: inline-block;
                width: 1.1rem;
                height:1.1rem;
                margin-right: 0.24rem;
            }
            &>div{
                display: inline-block;
                
            }           
            .loanTitle{@include flex_x(2);
                p{
                    height: 0.38rem;line-height:0.38rem; 
                    &:nth-child(2){
                        font-size: 0.22rem;  
                        width: 2.9rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    &:first-child{
                        font-size: 0.3rem;
                        color: #2b2b2b;
                        font-weight: bold;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width:3.6rem;
                    }
                    &:last-child{
                        font-size: 0.22rem;
                        color:#666666;
                        .totalpel{
                            color:$blue;
                        }
                    }
                }
            }
            .high{@include flex_x(1);text-align: center;margin-top:0.2rem;
                p{height: 0.48rem;line-height:0.48rem;
                   &:first-child{
                       color:#ff8d31;
                       font-size: 0.24rem;
                       margin-bottom:0.1rem;
                        span{font-size:0.32rem;font-weight:bold;}
                    }
                   &:last-child{
                       color:#ff801a;
                       border:0.02rem solid #ffd230;
                       border-radius:0.24rem;
                    //    border-image: -webkit-linear-gradient(#ffd94f,#ffa60b)1 1;
                    //     border-image: -moz-linear-gradient(#ffd94f,#ffa60b)1 1;
                    //     border-image: linear-gradient(#ffd94f,#ffa60b)1 1;
                    }
                }
            }
        }
        .numdetail{
            border-top:0.02rem solid #eeeeee;
            &>div{
                @include flex_1;
                text-align: center;
                border-right:0.02rem solid #eeeeee;
                &:last-child{border-right: none;}
                &>p{
                    
                    height: 0.4rem;
                    line-height: 0.4rem;
                    &:first-child{
                        font-size: 0.2rem;
                        color: $blue;
                        &>span{
                            font-size: 0.28rem;
                            
                        }
                    }
                    &:last-child{color:#666666;}
                }
                &>.payWay{
                    span{
                        display: inline-block;
                        overflow: hidden;
                        width: 1.8rem;
                        white-space: nowrap;
                    }
                }
            }
            .must{color:#666666;font-size: 0.24rem;height: 0.9rem;line-height: 0.9rem;text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        li:last-child{
            height: 2.08rem;line-height: 2.08rem;
            text-align: center;
            img{
                vertical-align: middle;
                width: 6.56rem;
                height: 1.14rem;
            }
        }
    }
}
