@charset "utf-8";
@import "common" ;
.login{
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    .header{
        background: #f3f3f3;
    }
}
.loginCon{
    border-radius: 5px;
    box-shadow: 0 12px 15px rgba(0,0,0,0.1);;
       -webkit-box-shadow: 0 12px 15px rgba(0,0,0,0.1);; 
       -moz-box-shadow: 0 12px 15px rgba(0,0,0,0.1);;
    margin: 0.7rem;
    background: #ffffff;
     
    .loginWay{
        font-size:0.22rem;
        background: #f3f3f3;
        height: 0.74rem;
        line-height: 0.74rem;
        span{
             background: #f9f9f9;
            width: 49%;
            height: 100%;
            display: block;
            border-radius: 3px 3px 0px 0px;
            //@include border_four_radius(3px,0,0,3px);
            text-align: center;
            color: #333333;
            &:nth-child(1){
                float: left;
            }
             &:nth-child(2){
                float: right;
            }
            &.wayActive{
                background: #ffffff;
            }
        }
    }
    .infoBox{
        margin:0.35rem 0.6rem 0;
        .inputLine{
            @include border_Bot(1px,#999);
            height: 1rem;
            line-height: 1rem;
            @include only_display;
             justify-content:space-between;
            align-items:center;
            label{
                font-size:0.24rem;
                flex: 0 0 1.2rem;
                display: inline-block;
               // width: 1.2rem;
            }
            input{
                width: 100%;
                //display: inline-block;
               border: 0;
               height: 0.8rem;
               line-height: 0.8rem;
               
            }
            .flex1{
                @include flex_1;
                margin-right: 0.2rem;
            }
            
            .getMsg{
                display: inline-block;
                flex: 0 0 1.8rem;
                border-radius: 3px;
                font-size: 0.22rem;
                height: 0.58rem;
                background: #ffa81e;
                text-align: center;
                line-height: 0.58rem;
                //align-items:flex-end;
                color: #ffffff;
            }
            .eyes{
                flex: 0 0 0.4rem;
                height: 0.24rem;
                img{
                    float: left;
                    width: 100%;
                    height: 100%;
                }
            }
           &.hide{
               display: none;
           } 
        }
        
        
    }
    .loginBtn{
        font-size:0.22rem;
        display: block;
        margin:0.8rem 10% 0.5rem;
        height:0.9rem ;
        width: 80%;
        line-height: 0.9rem;
        text-align: center;
        color: #ffffff;
        background: #53a6ff;
        border-radius: 3px;
        //@include box_shadow(0,0,20px,rgba(83,166,255,0.5));
        box-shadow: 0 5px 20px rgba(83,166,255,0.5);
       -webkit-box-shadow: 0 5px 20px rgba(83,166,255,0.5); 
       -moz-box-shadow: 0 5px 20px rgba(83,166,255,0.5);
      }
      .note{
          font-size: 0.2rem;
          height: 0.8rem;
          text-align: center;
          span{
              margin-right: 0.2rem;
          }
      }
}
