@charset "utf-8";
@import "common" ;
.orderCon ul{
    li{
        background: #FFFFFF;
        padding:0 0.35rem;
        margin-bottom: 0.12rem;
        .orderNum{
            font-size: 0.24rem;
            line-height: 0.85rem;
            @include border_Bot;
            @include only_display;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            span.order_n{
                color: red;
                font-size: 0.26rem;
            }
        }
    }
    
}
.orderDetailInfo{
    background: #FFFFFF;
    padding:0 0.35rem 0.35rem;
   margin-bottom: 0.12rem;
    .orderNum{
            font-size: 0.24rem;
            line-height: 0.85rem;
            @include border_Bot;
            @include only_display;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            span.order_n{
                color: red;
                font-size: 0.26rem;
            }
        }
}
.note{
    line-height: 0.8rem;
    text-align: center;
    color: red;
    font-size: 0.22rem;
    
}
.list_title{
    font-size: 0.28rem;
    line-height: 1rem;
    font-weight: 100;
}
.list_title img{
    width: 0.42rem;
    height: 0.42rem;
    vertical-align: middle;
    margin-right: 0.2rem;
}
.list_title .p_name{
    float: right;
}
.container{
    width: 5rem;
    display: flex;
    flex-wrap:  wrap;
    font-size: 0.22rem;
    color: #666;
}
.orderCon .container li,.orderDetailCon .container li{
    padding-left:0 ;
    padding-right: 0.56rem;
}
.listFoot{
    border-top: 1px solid #f5f5f5;
    padding: 0.2rem 0;
    display: flex;
    justify-content: space-between;
}
.status{
    width: 3.1rem;
    color: red;
    font-size: 0.22rem;
    line-height: 0.38rem;
}
.statusBtn{
    width: 1.52rem;
    height: 0.56rem;
    line-height: 0.56rem;
    border-radius: 0.1rem;
    text-align: center;
    color: #fff;
     background: #53a6ff;
}
