@charset "utf-8";
@import "common" ;
.progressStep{
    // background: #FFF;
    .step-list{
        .item{
            display: flex;
            padding: .28rem 0;
            color: #333333;
            .left{
                flex:1;
            }
            .right{
                color:#aaaaaa;
            }
        }
        .fontblack{
            color: #333333;
        }
        .fontgrey{
            color: #C7C4C4;
        }
        .index{
            display: inline-block;
            margin-right: .16rem;
            width: .4rem;
            height: .4rem;
            line-height: .4rem;
            color: #fff;
            text-align: center;
            font-style: normal;
            border-radius: 50%;
        }
        .blue{
            @extend .index;
            background: $blue;
        }
        .grey{
            @extend .index;
            background: #ebe6e6;
        }
    }
}