<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="../libs/des.js" type="text/javascript" charset="utf-8"></script>
	
	</head>
	<body>
	</body>
</html>
<script type="text/javascript">
	//用法
        function getResult(){
            //待加密字符串
            var str = '123456789';
            //第一个参数必须；第二个、第三个参数可选
            var key1 = 'ZND171030APIMM';  //前后端协商key
            var key2 = ''; 
            var key3 = ''; 
            //加密方法        
            var  enResult = strEnc(str,key1,key2,key3);            
            //解密方法
            var deResult = strDec(enResult,key1,key2,key3);
            console.log(enResult);
            console.log(deResult);
        }
	
	getResult();
	
	
	
	//demo
	/*var key1="ZND171030APIMM";
	var path="/zndai/user/add";
	var data={
		 platform : "ios",
		deviceno : "111",
		token: "",
		phone:"19612156268",
    	type:"REG"//REG 注册 ，FPWD忘记密码
	}
	
	var param=JSON.stringify(data);
    var str = strEnc(param,key1);
	$.ajax({
		type:"post",
		url:"http://122.144.133.20:8088"+path,
		//url:"http://192.168.1.17:8088"+path,
		async:true,
		data:{params:str},
		success:function(res){
			console.log(res);
			if(res.code=="0000"){
				var data = JSON.parse(strDec(res.data,key1));//解密
				console.log(data);
			}
			
		}
	});*/
	
	
	
	
	
	
</script>