

.content{
    /* height: 100vh; */
    background: #f1f0f0;
    
}
.promptTitle{
background: #f1f0f0;
line-height: 45px;
height: 45px;
font-size: 0.3rem; 
color: #888;
}

.codeinput{
    width: 250px;
}

.code{
    width: 100px;
    text-align: center;
    left: 260px;
    position: absolute;
    bottom: 5px;
    border-radius: 5px;
    font-size: 0.25rem;
}
.btncode{
    border:1px solid #e6e6e6;
    font-size: 0.25rem;
    color: #6f6f6f;
    background: #e6e6e6;
    /* margin-left: 100px; */
    /* left: 100px; */
}
.supportbank{
    height:100%;
    background: #f1f0f0;
}
.supporttitle{
    line-height: 60px;
    height: 60px;
    color:#ff801a;
    padding: 0px 15px;
}
.supportbank{
    padding: 0.4rem 0.48rem;
}
.supportbank .SubmissionContent{
    border-radius: 0.2rem;
    background: #508aff;
    color: #ffffff;
    line-height: 0.95rem;
    font-size: 0.28rem;
    text-align: center
}
.am-list-item.am-input-disabled .am-input-label{
    color: #000 !important;
}
