.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.ellipsis-2 {
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.applyFlow .header {
  background: #53a6ff;
  color: #ffffff; }
.applyFlow .stepBox {
  height: 2rem;
  background: #53a6ff;
  padding: 0 0.55rem; }
  .applyFlow .stepBox li {
    width: 1.46rem;
    float: left; }
    .applyFlow .stepBox li h1 {
      background: #a9d3ff;
      width: 0.9rem;
      height: 0.9rem;
      margin: 0.3rem;
      border-radius: 50%;
      text-align: center;
      line-height: 0.9rem;
      color: #53a6ff;
      font-size: 0.6rem;
      font-weight: 500; }
      .applyFlow .stepBox li h1.stepActive {
        background: #ffffff; }
    .applyFlow .stepBox li p {
      text-align: center;
      font-size: 0.24rem;
      color: #FFFFFF; }
  .applyFlow .stepBox span {
    float: left;
    width: 1rem;
    height: 0.05rem;
    background: #a9d3ff;
    margin-top: 0.76rem; }

.applyInfoCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column; }
  .applyInfoCon .applyInfo {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 0.12rem; }
    .applyInfoCon .applyInfo div {
      padding: 0 0.55rem;
      height: 1rem;
      line-height: 1rem;
      background: #ffffff;
      color: #333333;
      font-size: 0.28rem;
      position: relative; }
      .applyInfoCon .applyInfo div:after {
        pointer-events: none;
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        content: "";
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        transform: scale(0.5);
        transform-origin: 0 0;
        border-bottom: 1px solid #f3f3f3; }
      .applyInfoCon .applyInfo div span {
        width: 1.5rem;
        float: left; }
      .applyInfoCon .applyInfo div input {
        width: 4.5rem;
        height: 0.8rem;
        margin-top: 0.1rem;
        float: right;
        text-align: right;
        border: 0; }

.applyLevelCon {
  overflow: auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column; }

.applyLevel .rule {
  height: 1rem;
  line-height: 1rem;
  margin-left: 0.5rem;
  font-size: 0.2rem;
  position: relative; }
  .applyLevel .rule a {
    margin-left: 0.3rem; }

.magic-checkbox {
  position: absolute;
  display: none; }

.magic-checkbox + label {
  position: relative;
  padding-left: 0.6rem;
  cursor: pointer;
  vertical-align: middle; }
  .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: '';
    top: 2px;
    left: 7px;
    box-sizing: border-box;
    width: 0.12rem;
    height: 0.24rem;
    transform: rotate(45deg);
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-top: 0;
    border-left: 0; }
  .magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    content: '';
    border: 1px solid #53a6ff;
    border-radius: 50%; }

.magic-checkbox:checked + label:after {
  display: block; }

.magic-checkbox:checked + label:before {
  border-radius: 50%;
  animation-name: none;
  border: #3e97eb;
  background: #3e97eb; }

.applyLevel {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll; }
  .applyLevel ul {
    padding: 0 0.5rem;
    overflow: hidden;
    background: #FFFFFF; }
    .applyLevel ul.applyLevelZero {
      padding: 0 0.5rem; }
  .applyLevel .levelInfo {
    line-height: 1rem;
    box-sizing: border-box;
    position: relative; }
    .applyLevel .levelInfo:after {
      pointer-events: none;
      width: 200%;
      height: 200%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      content: "";
      -webkit-transform: scale(0.5);
      -webkit-transform-origin: 0 0;
      transform: scale(0.5);
      transform-origin: 0 0;
      border-bottom: 1px solid #f3f3f3; }
    .applyLevel .levelInfo label {
      line-height: 1rem;
      color: #333333;
      font-size: 0.28rem; }
    .applyLevel .levelInfo input {
      height: 0.6rem;
      line-height: 0.6rem;
      margin-top: 0.2rem;
      text-align: right;
      float: right;
      border: 0;
      background: transparent;
      font-size: 0.24rem; }
    .applyLevel .levelInfo .insertInput {
      float: none;
      position: relative; }
      .applyLevel .levelInfo .insertInput:after {
        pointer-events: none;
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        content: "";
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        transform: scale(0.5);
        transform-origin: 0 0;
        border-bottom: 1px solid #f3f3f3; }
    .applyLevel .levelInfo .insertSure {
      color: #53a6ff; }
    .applyLevel .levelInfo span {
      float: right;
      color: #53a6ff;
      line-height: 1rem;
      margin-left: 0.1rem;
      font-size: 0.24rem; }
    .applyLevel .levelInfo i {
      line-height: 1rem;
      text-align: right;
      float: right;
      border: 0;
      background: transparent;
      font-size: 0.24rem;
      font-style: normal; }
  .applyLevel .second {
    box-sizing: border-box;
    font-size: 0.26rem;
    position: relative;
    line-height: 1rem;
    text-align: center;
    border: 0;
    background: transparent;
    color: #333333;
    font-style: normal; }
    .applyLevel .second:before {
      pointer-events: none;
      width: 200%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      content: "";
      -webkit-transform: scale(0.5);
      -webkit-transform-origin: 0 0;
      transform: scale(0.5);
      transform-origin: 0 0;
      border-top: 1px solid #f3f3f3; }

.applyResultCon {
  position: relative; }
  .applyResultCon #iframeBox {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3; }

.applyResult .applyResultImg {
  width: 2rem;
  height: 2rem;
  margin: 1rem auto 0.5rem; }
  .applyResult .applyResultImg img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%; }
.applyResult .applyResultTxt {
  height: 3rem; }
  .applyResult .applyResultTxt h4 {
    font-size: 0.3rem;
    font-weight: 500;
    text-align: center;
    line-height: 1rem; }
  .applyResult .applyResultTxt p {
    font-size: 0.24rem;
    line-height: 0.4rem;
    text-align: center;
    padding: 0 0.5rem; }
.applyResult .next {
  width: 70%;
  height: 0.6rem;
  line-height: 0.6rem;
  background: #53a6ff;
  text-align: center;
  font-size: 0.26rem;
  color: #FFFFFF;
  border-radius: 3px;
  margin-top: 1rem;
  margin: 1rem auto 0; }

/*# sourceMappingURL=apply.css.map */
