.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.ellipsis-2 {
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.homeHeader {
  background: #508aff;
  color: #fff; }

.newsCon .am-carousel-wrap-dot-active > span {
  background: #508aff; }

.home {
  background: #f3f3f3; }
  .home .product {
    background: #FFFFFF;
    padding-top: 0.46rem;
    padding-bottom: 0.50rem;
    margin-bottom: 0.32rem; }
    .home .product > p {
      text-align: center;
      margin-bottom: 0.48rem; }
      .home .product > p span {
        display: inline-block;
        width: 0.62rem;
        height: 0.02rem;
        background-color: #e7e4e4;
        vertical-align: middle; }
        .home .product > p span:first-child {
          margin-right: 0.24rem; }
        .home .product > p span:last-child {
          margin-left: 0.24rem; }
    .home .product .pro-icon {
      display: inline-block;
      display: inline-block;
      width: 0.28rem;
      height: 0.26rem;
      vertical-align: middle;
      background-size: 100%;
      background-repeat: no-repeat;
      margin-right: 0.1rem; }
    .home .product .loanTab {
      border-bottom: 0.02rem solid #eeeeee;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; }
      .home .product .loanTab li {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding-left: 0.3rem;
        border-right: 0.02rem solid #eeeeee; }
        .home .product .loanTab li:last-child {
          border-right: none; }
        .home .product .loanTab li img {
          width: 0.96rem;
          height: 0.96rem;
          display: inline-block;
          margin-right: 0.24rem;
          float: left; }
      .home .product .loanTab div {
        float: left; }
        .home .product .loanTab div p {
          height: 0.48rem;
          line-height: 0.48rem; }
          .home .product .loanTab div p:first-child {
            font-size: 0.26rem;
            color: #2b2b2b; }
          .home .product .loanTab div p:last-child {
            font-size: 0.24rem;
            color: #666666; }
    .home .product .loanTab2 {
      border-bottom: none; }
      .home .product .loanTab2 li {
        padding-top: 0.43rem; }
    .home .product .loanTan1 li {
      padding-bottom: 0.42rem; }
  .home .loan {
    padding-left: 0.3rem;
    padding-right: 0.3rem; }
    .home .loan ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin-bottom: 0.52rem; }
      .home .loan ul li > img {
        display: inline-block;
        width: 0.96rem;
        height: 0.96rem;
        margin-right: 0.24rem; }
      .home .loan ul li > div {
        display: inline-block; }
        .home .loan ul li > div > p {
          height: 0.48rem;
          line-height: 0.48rem; }
          .home .loan ul li > div > p:first-child {
            font-size: 0.26rem;
            color: #2b2b2b; }
          .home .loan ul li > div > p:last-child {
            font-size: 0.24rem;
            color: #666666; }
        .home .loan ul li > div > .adjust {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 4rem; }
      .home .loan ul li:last-child {
        margin-bottom: 0; }
      .home .loan ul li .loanTitle {
        -webkit-box-flex: 2;
        -moz-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2; }
      .home .loan ul li .high {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: center; }
        .home .loan ul li .high p:first-child {
          color: #ff8d31; }
          .home .loan ul li .high p:first-child span {
            font-size: 0.3rem;
            font-weight: bold; }
        .home .loan ul li .high p:last-child {
          color: #ff801a;
          border: 0.02rem solid #ffd230;
          border-radius: 0.24rem; }
  .home .credit ul a {
    display: flex;
    margin-bottom: 0.52rem; }
    .home .credit ul a > img {
      display: inline-block;
      width: 0.96rem;
      height: 0.96rem;
      margin-right: 0.24rem; }
    .home .credit ul a > div {
      display: inline-block; }
    .home .credit ul a div > p {
      height: 0.48rem;
      line-height: 0.48rem; }
    .home .credit ul a div > p:first-child {
      font-size: 0.26rem;
      color: #2b2b2b; }
    .home .credit ul a div > p:last-child {
      font-size: 0.24rem;
      color: #666666;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 4.7rem; }
    .home .credit ul a div > img {
      width: 0.68rem;
      height: 0.56rem;
      vertical-align: middle; }
    .home .credit ul a .high {
      line-height: 0.96rem;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center; }
    .home .credit ul a .loanTitle {
      -webkit-box-flex: 2;
      -moz-box-flex: 2;
      -webkit-flex: 2;
      -ms-flex: 2;
      flex: 2; }

.listWrap {
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.saveCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column; }
  .saveCon .saveConBox {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative; }
  .saveCon .capitalBox .capitalList {
    padding-bottom: 0; }

.newsCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  background: #fff; }
  .newsCon h3 {
    margin-top: 0.15rem;
    height: .8rem;
    padding-left: .35rem;
    line-height: .8rem;
    color: #333;
    font-size: .28rem;
    position: relative;
    background: #FFFFFF; }
    .newsCon h3:after {
      pointer-events: none;
      width: 200%;
      height: 200%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      content: "";
      -webkit-transform: scale(0.5);
      -webkit-transform-origin: 0 0;
      transform: scale(0.5);
      transform-origin: 0 0;
      border-bottom: 1px solid #f3f3f3; }

.newsBox {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column; }
  .newsBox h3 {
    margin-top: 0.15rem;
    height: .8rem;
    padding-left: .35rem;
    line-height: .8rem;
    color: #333;
    font-size: .28rem;
    position: relative;
    background: #FFFFFF; }
    .newsBox h3:after {
      pointer-events: none;
      width: 200%;
      height: 200%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      content: "";
      -webkit-transform: scale(0.5);
      -webkit-transform-origin: 0 0;
      transform: scale(0.5);
      transform-origin: 0 0;
      border-bottom: 1px solid #f3f3f3; }
  .newsBox .newsList {
    background: #FFFFFF;
    padding-left: .35rem;
    padding-bottom: 0.3rem;
    color: #666666;
    border-bottom: 0.02rem solid #eeeeee; }
    .newsBox .newsList:after {
      content: "";
      display: block;
      height: 0;
      clear: both; }
    .newsBox .newsList dd {
      float: left;
      width: 4.2rem;
      margin-top: 0.32rem; }
      .newsBox .newsList dd h4 {
        line-height: 0.46rem;
        font-size: 0.28rem;
        font-weight: 500;
        margin-bottom: 0.5rem; }
      .newsBox .newsList dd p {
        height: 0.6rem;
        line-height: 0.6rem;
        font-size: 0.2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; }
        .newsBox .newsList dd p span:first-child {
          -webkit-box-flex: 1;
          -moz-box-flex: 1;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1; }
        .newsBox .newsList dd p span:last-child img {
          width: 0.3rem;
          height: 0.2rem;
          margin-right: 0.08rem; }
    .newsBox .newsList dt {
      margin-right: 0.35rem;
      margin-top: 0.3rem;
      float: right;
      width: 2.2rem; }
      .newsBox .newsList dt img {
        width: 2.3rem;
        height: 1.54rem; }
  .newsBox .linkNews {
    height: 0.9rem;
    line-height: 0.9rem;
    color: #666666;
    text-align: center;
    font-size: 0.24rem;
    display: block;
    position: relative; }
    .newsBox .linkNews:before {
      pointer-events: none;
      width: 200%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      content: "";
      -webkit-transform: scale(0.5);
      -webkit-transform-origin: 0 0;
      transform: scale(0.5);
      transform-origin: 0 0;
      border-top: 1px solid #f3f3f3; }
    .newsBox .linkNews img {
      width: 0.15rem;
      margin-left: 0.2rem; }

.slider-decorator-0 {
  bottom: 1rem !important; }

.bannernews {
  position: relative;
  margin-bottom: 0.32rem; }
  .bannernews .news {
    height: 0.88rem;
    line-height: 0.88rem;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 0.36rem 0 0.32rem; }
    .bannernews .news li {
      float: left; }
      .bannernews .news li:nth-child(3) {
        width: 2.8rem; }
        .bannernews .news li:nth-child(3) .v-item {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap; }
      .bannernews .news li:last-child {
        float: right; }
    .bannernews .news .newvoice {
      margin-right: 0.28rem; }
      .bannernews .news .newvoice img {
        width: 0.36rem;
        height: 0.36rem;
        vertical-align: middle; }
    .bannernews .news .newsgo img {
      width: 0.16rem;
      height: 0.28rem;
      vertical-align: middle; }

#app .loanlist .content .loan-list {
  background: #fff;
  padding: 0.48rem 0.3rem;
  margin-bottom: 0.3rem; }
  #app .loanlist .content .loan-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 0.52rem; }
    #app .loanlist .content .loan-list li > img {
      display: inline-block;
      width: 2.18rem;
      height: 1.62rem;
      margin-right: 0.24rem; }
    #app .loanlist .content .loan-list li > div {
      display: inline-block; }
      #app .loanlist .content .loan-list li > div > p {
        height: 0.48rem;
        line-height: 0.48rem; }
        #app .loanlist .content .loan-list li > div > p:first-child {
          font-size: 0.26rem;
          color: #2b2b2b;
          font-weight: bold; }
        #app .loanlist .content .loan-list li > div > p:nth-child(2) {
          font-size: 0.24rem; }
        #app .loanlist .content .loan-list li > div > p:last-child {
          font-size: 0.24rem;
          color: #676767; }
    #app .loanlist .content .loan-list li:last-child {
      margin-bottom: 0; }
    #app .loanlist .content .loan-list li .loanTitle {
      -webkit-box-flex: 2;
      -moz-box-flex: 2;
      -webkit-flex: 2;
      -ms-flex: 2;
      flex: 2; }
      #app .loanlist .content .loan-list li .loanTitle p:nth-child(2) {
        width: 2.9rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      #app .loanlist .content .loan-list li .loanTitle p:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 2.8rem; }
    #app .loanlist .content .loan-list li .high {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center;
      margin-top: 0.65rem; }
      #app .loanlist .content .loan-list li .high p:first-child {
        color: #ff8d31; }
        #app .loanlist .content .loan-list li .high p:first-child span {
          font-size: 0.3rem;
          font-weight: bold; }
      #app .loanlist .content .loan-list li .high p:last-child {
        color: #ff801a;
        border: 0.02rem solid #ffd230;
        border-radius: 0.24rem; }
  #app .loanlist .content .loan-list .numdetail > div {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    border-right: 0.02rem solid #eeeeee; }
    #app .loanlist .content .loan-list .numdetail > div:last-child {
      border-right: none; }
    #app .loanlist .content .loan-list .numdetail > div > p {
      height: 0.4rem;
      line-height: 0.4rem; }
      #app .loanlist .content .loan-list .numdetail > div > p:first-child {
        font-size: 0.2rem; }
        #app .loanlist .content .loan-list .numdetail > div > p:first-child > span {
          font-size: 0.28rem; }
#app .loanlist .content .my-list {
  position: fixed;
  width: 100%;
  height: 2rem;
  z-index: 2;
  top: 1.7rem; }
  #app .loanlist .content .my-list .selecticon {
    display: inline-block;
    width: 0.32rem;
    height: 0.24rem;
    vertical-align: middle;
    background-size: 100%;
    background-repeat: no-repeat;
    float: right;
    margin-top: 0.16rem; }
  #app .loanlist .content .my-list .am-list-item .am-list-line .am-list-content {
    font-size: 0.28rem; }
  #app .loanlist .content .my-list .am-list-body {
    z-index: 2;
    top: 0;
    position: absolute;
    width: 100%; }
#app .loanlist .content .menu-mask {
  content: ' ';
  position: fixed;
  top: 1.7rem;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: 1; }
#app .loanlist .am-accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  #app .loanlist .am-accordion .am-accordion-item {
    width: 24%; }
    #app .loanlist .am-accordion .am-accordion-item .am-accordion-header {
      background: #508aff;
      color: #fff;
      font-size: 0.28rem;
      position: relative;
      height: 0.8rem;
      line-height: 0.8rem; }
      #app .loanlist .am-accordion .am-accordion-item .am-accordion-header i {
        display: inline-block;
        width: 0.28rem;
        height: 0.16rem;
        vertical-align: middle;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0.31rem;
        right: 0.2rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        -webkit-transition: -webkit-transform .2s ease;
        transition: -webkit-transform .2s ease;
        transition: transform .2s ease;
        transition: transform .2s ease, -webkit-transform .2s ease; }
      #app .loanlist .am-accordion .am-accordion-item .am-accordion-header .showbottom {
        border-bottom: 0.04rem solid #fff; }
    #app .loanlist .am-accordion .am-accordion-item .am-accordion-header[aria-expanded~="true"] i {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
#app .loanlist .hed {
  font-size: 0.3rem;
  position: relative;
  text-align: center;
  background: #508aff;
  color: #fff; }
  #app .loanlist .hed p {
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 0.35rem; }

.licai .content {
  background: #FFF; }
.licai .notPro {
  text-align: center;
  margin-top: 2.52rem; }
  .licai .notPro img {
    width: 2.9rem;
    height: 1.8rem;
    margin-bottom: 0.68rem; }
.licai .update {
  color: #999999; }

.task .content {
  background: #fff; }
.task .loankind {
  width: 7.5rem;
  padding: 0.48rem 0;
  background: #FFFFFF;
  z-index: 5; }
  .task .loankind .loankindTab {
    margin: auto;
    width: 5.34rem;
    height: 0.86rem;
    border: 0.02rem solid #999999;
    border-radius: 0.44rem; }
    .task .loankind .loankindTab p {
      width: 50%;
      line-height: 0.84rem;
      color: #508aff;
      float: left;
      font-size: 0.28rem;
      text-align: center;
      border-radius: 0.4rem; }
      .task .loankind .loankindTab p.activeLoan {
        color: #FFFFFF;
        background: #508aff; }
.task .empty {
  height: 1.4rem; }
.task .homeTab {
  height: 2.3rem;
  background: #FFFFFF;
  margin-top: 0.15rem;
  padding: 0 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .task .homeTab li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-top: 0.5rem; }
    .task .homeTab li img {
      width: 0.9rem;
      height: 0.9rem;
      border-radius: 50%;
      display: block;
      margin: 0 auto; }
    .task .homeTab li p {
      text-align: center;
      font-size: 0.24rem;
      margin-top: 0.2rem;
      color: #666666; }
.task .capitalBox .capitalList {
  background: #FFFFFF;
  margin-top: 0.15rem;
  padding-bottom: 0.3rem; }
  .task .capitalBox .capitalList h3 {
    height: 0.8rem;
    padding-left: 0.35rem;
    line-height: 0.8rem;
    color: #333333;
    font-size: 0.28rem;
    font-weight: 500;
    position: relative; }
    .task .capitalBox .capitalList h3:after {
      pointer-events: none;
      width: 200%;
      height: 200%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      content: "";
      -webkit-transform: scale(0.5);
      -webkit-transform-origin: 0 0;
      transform: scale(0.5);
      transform-origin: 0 0;
      border-bottom: 1px solid #f3f3f3; }
    .task .capitalBox .capitalList h3 img {
      width: 0.41rem;
      height: 0.41rem;
      vertical-align: middle;
      margin-right: 0.2rem; }
  .task .capitalBox .capitalList .capitalInfo {
    margin-left: 0.35rem;
    padding-bottom: 0.3rem; }
    .task .capitalBox .capitalList .capitalInfo:after {
      content: "";
      display: block;
      height: 0;
      clear: both; }
    .task .capitalBox .capitalList .capitalInfo .limit {
      width: 2.4rem;
      height: 1rem;
      margin-top: 0.5rem;
      float: left;
      position: relative; }
      .task .capitalBox .capitalList .capitalInfo .limit:after {
        pointer-events: none;
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        content: "";
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        transform: scale(0.5);
        transform-origin: 0 0;
        border-right: 1px solid #ddd; }
      .task .capitalBox .capitalList .capitalInfo .limit h2 {
        color: #f94b4b;
        font-size: 0.3rem; }
      .task .capitalBox .capitalList .capitalInfo .limit p {
        line-height: 0.4rem;
        color: #999999;
        font-size: 0.24rem; }
    .task .capitalBox .capitalList .capitalInfo .special {
      float: left;
      width: 2.8rem;
      margin-top: 0.35rem; }
      .task .capitalBox .capitalList .capitalInfo .special li {
        line-height: 0.4rem;
        color: #999999;
        font-size: 0.24rem;
        padding-left: 0.36rem; }
    .task .capitalBox .capitalList .capitalInfo .apply {
      float: left;
      margin-top: 0.7rem; }
      .task .capitalBox .capitalList .capitalInfo .apply a {
        width: 1.56rem;
        border-radius: 3px;
        display: block;
        background: #f94b4b;
        color: #FFFFFF;
        text-align: center;
        line-height: 0.6rem;
        height: 0.6rem;
        box-shadow: 0 5px 10px rgba(249, 75, 75, 0.3); }
  .task .capitalBox .capitalList .care {
    line-height: 0.36rem;
    color: #bababa;
    font-size: 0.24rem; }
    .task .capitalBox .capitalList .care span {
      color: #FFFFFF;
      background: #bababa;
      border-radius: 3px;
      padding: 0 0.1rem;
      margin-right: 0.3rem;
      margin-left: 0.35rem; }
.task .tasklist {
  margin-top: 0.12rem;
  padding: 0 0.28rem; }
  .task .tasklist li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 0.12rem;
    border: 0.02rem solid #eef2f8;
    padding: 0.2rem;
    border-radius: 0.1rem; }
    .task .tasklist li > div > p {
      height: 0.5rem;
      line-height: 0.5rem; }
    .task .tasklist li > img {
      display: inline-block;
      width: 1.1rem;
      height: 1.1rem;
      margin-right: 0.2rem; }
    .task .tasklist li:last-child {
      margin-bottom: 0; }
    .task .tasklist li .loanTitle {
      -webkit-box-flex: 2;
      -moz-box-flex: 2;
      -webkit-flex: 2;
      -ms-flex: 2;
      flex: 2; }
      .task .tasklist li .loanTitle > p:first-child {
        font-size: 0.28rem;
        color: #2b2b2b;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 4rem; }
      .task .tasklist li .loanTitle > p:last-child {
        font-size: 0.24rem;
        color: #666666; }
        .task .tasklist li .loanTitle > p:last-child > span {
          color: #508aff; }
        .task .tasklist li .loanTitle > p:last-child > span:last-child {
          font-size: 0.28rem; }
    .task .tasklist li .high {
      text-align: center; }
      .task .tasklist li .high p {
        width: 1.2rem;
        color: #fff;
        border-radius: 0.1rem;
        font-size: 0.24rem;
        background: #508aff;
        margin-bottom: 0.2rem; }
      .task .tasklist li .high .geting {
        background: #666666; }
.task .notask {
  text-align: center; }
  .task .notask img {
    width: 1.43rem;
    height: 2.61rem;
    margin: 1.38rem 0 0.3rem; }
  .task .notask p {
    color: #666666;
    font-size: 0.36rem; }

.taskDetail .time {
  padding-top: 0.6rem;
  padding-bottom: 0.1rem;
  background: #508aff;
  color: #fff;
  text-align: center;
  font-size: 0.24rem; }
  .taskDetail .time p {
    margin-bottom: 0.24rem; }
    .taskDetail .time p:nth-child(2) {
      width: 4.56rem;
      background: #fff;
      height: 0.74rem;
      line-height: 0.74rem;
      color: #5095fb;
      margin: 0 auto 0.1rem;
      border-radius: 0.1rem; }
      .taskDetail .time p:nth-child(2) span {
        color: #2266e9;
        font-size: 0.38rem; }
.taskDetail .stime {
  padding-bottom: 0.42rem;
  background: #508aff;
  color: #fff;
  text-align: center;
  font-size: 0.24rem; }
.taskDetail .detail {
  background: #fff;
  padding: 0 0.3rem 0.5rem;
  margin-top: 0.16rem; }
  .taskDetail .detail li {
    padding-top: 0.2rem; }
    .taskDetail .detail li > p {
      font-size: 0.3rem;
      text-align: center;
      margin-bottom: 0.14rem; }
      .taskDetail .detail li > p span {
        display: inline-block;
        width: 0.15rem;
        height: 0.15rem;
        border-radius: 50%; }
      .taskDetail .detail li > p i {
        font-style: normal;
        margin: 0 0.3rem; }
    .taskDetail .detail li .info {
      background: #ecf2ff;
      padding: 0.24rem 0 0.24rem 0.24rem;
      border-radius: 0.1rem; }
      .taskDetail .detail li .info > p {
        word-wrap: break-word; }
      .taskDetail .detail li .info > .jiang {
        overflow: hidden; }
        .taskDetail .detail li .info > .jiang > span {
          float: left; }
        .taskDetail .detail li .info > .jiang > span:last-child {
          width: 5.2rem; }
    .taskDetail .detail li:first-child .info {
      text-align: center;
      padding: 0.22rem 0; }
      .taskDetail .detail li:first-child .info .ftcolor {
        color: #508aff; }
      .taskDetail .detail li:first-child .info .progress-container {
        width: 2.7rem;
        margin: 0.18rem  auto 0; }
      .taskDetail .detail li:first-child .info .am-progress-bar {
        border: none;
        background: #a0dc49;
        height: 0.12rem !important;
        border-radius: 0.2rem; }
      .taskDetail .detail li:first-child .info .am-progress-outer {
        background: #999999;
        border-radius: 0.2rem; }
    .taskDetail .detail li:nth-child(2) > p span, .taskDetail .detail li:nth-child(4) > p span {
      background: #ffb216; }
    .taskDetail .detail li:nth-child(3) > p span {
      background: #3e83f4; }
    .taskDetail .detail li:nth-child(3) > .info > p {
      height: 0.78rem;
      line-height: 0.78rem; }
    .taskDetail .detail li:nth-child(3) > .info > .step {
      overflow: hidden; }
      .taskDetail .detail li:nth-child(3) > .info > .step span {
        float: left; }
      .taskDetail .detail li:nth-child(3) > .info > .step dl {
        float: left;
        width: 5.2rem; }
        .taskDetail .detail li:nth-child(3) > .info > .step dl dd {
          margin-bottom: 0.18rem; }
    .taskDetail .detail li:last-child > p {
      color: #ff0000; }
.taskDetail .footer .gray {
  background: #666666; }

.myTask .tasklist {
  margin-top: 0.14rem;
  padding: 0 0.28rem; }
  .myTask .tasklist li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 0.12rem;
    border: 0.02rem solid #eef2f8;
    padding: 0.2rem;
    border-radius: 0.1rem;
    background-color: #fff; }
    .myTask .tasklist li > div > p {
      height: 0.5rem;
      line-height: 0.5rem; }
    .myTask .tasklist li > img {
      display: inline-block;
      width: 1.1rem;
      height: 1.1rem;
      margin-right: 0.2rem; }
    .myTask .tasklist li:last-child {
      margin-bottom: 0; }
    .myTask .tasklist li .loanTitle {
      -webkit-box-flex: 2;
      -moz-box-flex: 2;
      -webkit-flex: 2;
      -ms-flex: 2;
      flex: 2; }
      .myTask .tasklist li .loanTitle > p:first-child {
        font-size: 0.28rem;
        color: #2b2b2b;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 4rem; }
      .myTask .tasklist li .loanTitle > p:last-child {
        font-size: 0.24rem;
        color: #666666; }
        .myTask .tasklist li .loanTitle > p:last-child > span {
          color: #508aff; }
        .myTask .tasklist li .loanTitle > p:last-child > span:last-child {
          font-size: 0.28rem; }
    .myTask .tasklist li .high {
      text-align: center; }
      .myTask .tasklist li .high p, .myTask .tasklist li .high a {
        width: 1.2rem;
        color: #fff;
        border-radius: 0.1rem;
        font-size: 0.24rem;
        background: #508aff;
        margin-bottom: 0.2rem; }
      .myTask .tasklist li .high a {
        height: 0.5rem;
        line-height: 0.5rem;
        display: block; }
      .myTask .tasklist li .high .noPass {
        margin-top: 0.3rem;
        background: #ff801a !important; }
      .myTask .tasklist li .high .hasPass {
        margin-top: 0.3rem;
        background: #04c926 !important; }
.myTask .menu-mask {
  content: ' ';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: 1; }
.myTask .upphone {
  position: absolute;
  top: 30%;
  left: 20%;
  z-index: 2;
  background: #fff;
  padding: 0.3rem 0.38rem;
  text-align: center;
  font-size: 0.28rem;
  width: 4.8rem; }
  .myTask .upphone input {
    border: 0.01rem solid #999999;
    padding: 0.12rem 0 0.12rem 0.2rem; }
  .myTask .upphone p {
    height: 0.7rem;
    line-height: 0.7rem; }
  .myTask .upphone p:last-child {
    display: inline-block;
    width: 0.44rem;
    height: 0.44rem;
    vertical-align: middle;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: -0.1rem;
    right: -0.1rem; }
  .myTask .upphone p:nth-child(3), .myTask .upphone p:nth-child(5) {
    background: #508aff;
    color: #fff;
    border-radius: 0.1rem;
    margin-top: 0.26rem;
    position: relative; }
    .myTask .upphone p:nth-child(3) input, .myTask .upphone p:nth-child(5) input {
      position: absolute;
      left: 0;
      opacity: 0; }
  .myTask .upphone p:nth-child(4) {
    color: #666666; }
  .myTask .upphone p:nth-child(5) {
    width: 1.2rem;
    margin: 0.26rem auto; }

.creditcard .loan ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 0.3rem;
  padding: 0.42rem;
  background: #FFF; }
  .creditcard .loan ul a > img {
    display: inline-block;
    width: 2.3rem;
    height: 1.44rem;
    margin-right: 0.3rem; }
  .creditcard .loan ul a > div {
    display: inline-block; }
    .creditcard .loan ul a > div > p {
      height: 0.48rem;
      line-height: 0.48rem; }
      .creditcard .loan ul a > div > p:first-child {
        font-size: 0.3rem;
        color: #020202; }
      .creditcard .loan ul a > div > p:nth-child(2) {
        font-size: 0.28rem;
        color: #2b2b2b;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 4rem; }
      .creditcard .loan ul a > div > p:last-child {
        font-size: 0.24rem;
        color: #666666; }
        .creditcard .loan ul a > div > p:last-child span {
          color: #ff811c; }
  .creditcard .loan ul a:last-child {
    margin-bottom: 0; }
  .creditcard .loan ul a .loanTitle {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.mywallet .time {
  padding-top: 0.98rem;
  padding-bottom: 0.75rem;
  background: #508aff;
  color: #fff;
  text-align: center;
  font-size: 0.24rem; }
  .mywallet .time p {
    margin-bottom: 0.24rem; }
    .mywallet .time p:first-child {
      font-size: 0.42rem;
      margin-bottom: 0.54rem; }
    .mywallet .time p:nth-child(2) {
      font-size: 0.28rem; }
.mywallet .account {
  padding: 0 0.3rem;
  height: 0.88rem;
  line-height: 0.88rem;
  color: #508aff; }
.mywallet .infolist {
  background: #fff; }
  .mywallet .infolist li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-bottom: 0.02rem solid #eeeeee;
    padding: 0.22rem 0.3rem; }
    .mywallet .infolist li div {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .mywallet .infolist li div p {
        height: 0.4rem;
        line-height: 0.4rem; }
        .mywallet .infolist li div p:first-child {
          font-size: 0.3rem; }
        .mywallet .infolist li div p:last-child {
          font-size: 0.24rem;
          color: #999999; }
      .mywallet .infolist li div > .red {
        color: #ff0000; }
      .mywallet .infolist li div > .blue {
        color: #508aff; }
    .mywallet .infolist li > div:nth-child(2) {
      text-align: right; }
      .mywallet .infolist li > div:nth-child(2) > p:first-child {
        color: #666666; }
.mywallet #detail > p {
  text-align: center;
  font-size: 0.3rem; }

.insurance .loan ul li {
  padding: 0.45rem 0 0.28rem 0; }
  .insurance .loan ul li > img {
    width: 2.7rem;
    height: 1.5rem;
    margin-right: 0.25rem; }
  .insurance .loan ul li .loanTitle {
    font-size: 0.24rem; }
  .insurance .loan ul li > div > p {
    height: 0.45rem;
    line-height: 0.45rem; }
    .insurance .loan ul li > div > p:nth-child(2) {
      font-size: 0.24rem;
      color: #666666; }
    .insurance .loan ul li > div > p:last-child {
      color: #666; }
    .insurance .loan ul li > div > p i {
      color: #e97d13;
      font-style: normal; }
    .insurance .loan ul li > div > p > span {
      display: inline-block;
      margin-right: 0.4rem; }

.baoxian {
  background: #fff; }
  .baoxian .head {
    display: inline-block;
    width: 7.5rem;
    height: 4rem;
    vertical-align: middle;
    background-size: 100%;
    background-repeat: no-repeat; }
    .baoxian .head p {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      padding-left: 0.28rem;
      text-align: left; }
      .baoxian .head p span:first-child {
        display: inline-block;
        width: 0.8rem;
        height: 0.8rem;
        vertical-align: middle;
        -webkit-box-flex: 0.7;
        -moz-box-flex: 0.7;
        -webkit-flex: 0.7;
        -ms-flex: 0.7;
        flex: 0.7; }
      .baoxian .head p span:last-child {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1; }
      .baoxian .head p span img {
        width: 0.22rem;
        height: 0.4rem; }
  .baoxian .loginCon {
    background: #fff;
    padding: 0.4rem 0 0 0.33rem; }
    .baoxian .loginCon > p {
      color: #020202;
      min-height: 0.5rem;
      line-height: 0.5rem; }
      .baoxian .loginCon > p:first-child {
        text-align: center;
        color: #508aff; }
    .baoxian .loginCon .btninfo {
      border-top: 0.01rem dashed #b0caff;
      padding-top: 0.3rem;
      margin-top: 1.2rem; }
      .baoxian .loginCon .btninfo p {
        color: #666666; }
        .baoxian .loginCon .btninfo p > span {
          display: inline-block;
          width: 0.24rem;
          height: 0.24rem;
          vertical-align: middle;
          background-size: 100%;
          background-repeat: no-repeat;
          margin-right: 0.16rem; }
        .baoxian .loginCon .btninfo p a {
          color: #508aff; }
        .baoxian .loginCon .btninfo p .am-button {
          display: inline-block;
          font-size: 0.28rem;
          height: 0.4rem;
          line-height: 0.4rem;
          vertical-align: middle; }
          .baoxian .loginCon .btninfo p .am-button:before {
            border: none; }
      .baoxian .loginCon .btninfo .loginBtn {
        width: 2.9rem;
        border-radius: 1.2rem;
        background: #508aff;
        color: #fff;
        margin: 0.3rem auto; }

.bx {
  width: 90% !important;
  height: 6rem; }
  .bx .am-modal-content .am-modal-body {
    padding: 0 0.2rem;
    font-size: 0.28rem;
    color: #020202; }
    .bx .am-modal-content .am-modal-body > div {
      height: 4.6rem; }
    .bx .am-modal-content .am-modal-body .hide {
      display: none; }
    .bx .am-modal-content .am-modal-body .survey p {
      color: #020202;
      font-weight: bold;
      margin-bottom: 0.1rem; }
    .bx .am-modal-content .am-modal-body .survey ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 0.1rem; }
      .bx .am-modal-content .am-modal-body .survey ul li {
        width: 1.36rem;
        border: 0.02rem solid #b0caff;
        border-radius: 0.2rem;
        text-align: center;
        height: 0.5rem;
        line-height: 0.5rem;
        margin-right: 0.3rem; }
      .bx .am-modal-content .am-modal-body .survey ul .active {
        background: #b0caff; }
      .bx .am-modal-content .am-modal-body .survey ul .long {
        -webkit-box-flex: 0.6;
        -moz-box-flex: 0.6;
        -webkit-flex: 0.6;
        -ms-flex: 0.6;
        flex: 0.6; }
    .bx .am-modal-content .am-modal-body .survey .subtn {
      background: #508aff;
      width: 1.8rem;
      height: 0.5rem;
      line-height: 0.5rem;
      border-radius: 0.3rem;
      color: #fff;
      margin: 0.3rem auto 0;
      text-align: center; }
  .bx .am-modal-title {
    font-size: 0.32rem;
    color: #508aff; }
  .bx .am-modal-content {
    text-align: left;
    padding-top: 0.1rem; }
  .bx .am-modal-header {
    padding: 0.06rem 0; }

#app .txt .header {
  background: #fff;
  color: black; }
#app .txt .txtCon {
  background: #fff; }

/*# sourceMappingURL=home.css.map */
